{
    auto_https off
}

:80 {
    # --- CORRECTION ICI ---
    # On remplace 'basicauth' par 'basic_auth'
    basic_auth {
        {env.BASIC_AUTH_USER} {env.BASIC_AUTH_PASS}
    }
    
    reverse_proxy graph:8000
}
